@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* white */
    --foreground: 222.2 47.4% 11.2%; /* dark black */

    --muted: 210 40% 96.1%; /* light gray */
    --muted-foreground: 215.4 16.3% 46.9%; /* gray */

    --popover: 0 0% 100%; /* white */
    --popover-foreground: 222.2 47.4% 11.2%; /* dark black */

    --border: 214.3 31.8% 91.4%; /* light gray border */
    --input: 214.3 31.8% 91.4%; /* light gray input border */
    --card: 0 0% 100%; /* white */
    --card-foreground: 222.2 47.4% 11.2%; /* dark black */

    --primary: 151.328 11.9% 44.8%; /* green */
    --primary-foreground: 0 0% 100%; /* white */

    --secondary: 210 40% 96.1%; /* light gray */
    --secondary-foreground: 222.2 47.4% 11.2%; /* dark black */

    --accent: 210 40% 96.1%; /* light gray */
    --accent-foreground: 222.2 47.4% 11.2%; /* dark black */

    --destructive: 0 84.2% 60.2%; /* red */
    --destructive-foreground: 0 0% 100%; /* white */

    --ring: 222.2 84% 4.9%; /* dark ring */

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%; /* dark background */
    --foreground: 210 40% 98%; /* light white */

    --muted: 217.2 32.6% 17.5%; /* darker gray */
    --muted-foreground: 215 20.4% 65.5%; /* light gray */

    --popover: 222.2 84% 4.9%; /* dark popover */
    --popover-foreground: 210 40% 98%; /* light white */

    --border: 217.2 32.6% 17.5%; /* darker gray border */
    --input: 217.2 32.6% 17.5%; /* darker gray input border */
    --card: 222.2 84% 4.9%; /* dark card */
    --card-foreground: 210 40% 98%; /* light white */

    --primary: 151.328 11.9% 44.8%; /* green */
    --primary-foreground: 210 40% 98%; /* light white */

    --secondary: 217.2 32.6% 17.5%; /* darker gray */
    --secondary-foreground: 210 40% 98%; /* light white */

    --accent: 217.2 32.6% 17.5%; /* darker gray */
    --accent-foreground: 210 40% 98%; /* light white */

    --destructive: 0 62.8% 30.6%; /* dark red */
    --destructive-foreground: 210 40% 98%; /* light white */

    --ring: 212.7 26.8% 83.9%; /* light ring */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}